body, html, #root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: snow;
}

.App {
  width: 70%;
  height: 80%;  
}

.container {
  display: flex;
  gap: 15px;
  height: 100%;
}

.list {
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
  width: 100%;
  overflow-y: auto;
}

.error {
  width: 100%;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: rgb(187, 186, 186);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media(max-width: 1021px) {
  .App {
    width: 85%;
  }
}

@media(max-width: 481px) {
  .App {
    width: 95%;
  }
}
